html {}

body {
  background-color: transparent;
}

h1 {
  text-align: center;
  color: red;
  font-size: 2em;
  font-family: sans-serif;
}

#navigation {
  width: 200px;
  list-style: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#navigation li {
  background: blue;
  color: black;
  border: 1px solid #600;
  margin-bottom: 1px;
}

#navigation li a {
  display: block;
  background: blue;
  color: black;
  text-align: center;
  text-decoration: none;
  padding: 4px 0;
}

article {
  color: red;
  position: relative;
  left: 350px;
  bottom: 150px;
}